* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
:root {
  --primary-color: #f44336;
}
h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}

.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  /* game area style */
  .game-area {
    .inputs {
      /* direct child in inputs (try-div class)*/
      > div {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        span {
          font-size: 30px;
          font-weight: bold;
          margin-right: 15px;
        }

        input {
          width: 60px;
          height: 60px;
          text-align: center;
          font-size: 50px;
          caret-color: var(--primary-color);
          background-color: white;
          border: none;
          border-bottom: 3px solid #333;

          /* on focus */
          &:focus {
            outline-color: #ccc;
          }

          &.in-place {
            background-color: #18ba89;
            border: #18ba89;
            color: white;
          }

          &.not-in-place {
            background-color: #f89e13;
            border: #f89e13;
            color: white;
          }

          &.wrong {
            background-color: #cb3c3c;
            color: white;
            border: #cb3c3c;
          }
        }
      }
      .disabled {
        opacity: 0.5;
        /* disable functionality */
        pointer-events: none;
      }
    }

    .control {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 5px;
      margin-top: 35px;
      button {
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 15px;
      }
      .check {
        background-color: var(--primary-color);
        flex-basis: 80%;
      }
      .hint {
        background-color: #28ad85;
        flex-basis: 20%;
      }
      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }

    .message{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      span{
        font-weight: bold; 
        display: block; 
        font-size: 50px;
        color: var(--primary-color); 
        text-transform: capitalize; 
        margin-top: 10px;
      };
      p{
        margin-top: 10px;
      }
    }
  }

  /* key colors style */

  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: white;
      margin-bottom: 15px;

      /* each key -- there is a 3 keys */
      .key {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &.in-place {
          background-color: #18ba89;
        }

        &.not-in-place {
          background-color: #f89e13;
        }

        &.wrong {
          background-color: #cb3c3c;
        }
      }

      /* styling the keys text */
      .key-text {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  font-weight: bold;
}
